<div class="card">
  <div class="card-header" id="heading{{game.id}}" data-toggle="collapse" attr.data-target="#collapse{{game.id}}"
       aria-expanded="true" attr.aria-controls="collapse{{game.id}}">
    <span>{{game.id}}</span>
    <button class="btn btn btn-primary float-right" *ngIf="!game.completed && !isPlay" (click)="startGame($event)">
      Resume
    </button>
    <button class="btn btn btn-primary float-right" *ngIf="!game.completed && isPlay" (click)="onCompleteGame()">
      Completed
    </button>
  </div>

  <div id="collapse{{game.id}}" class="collapse" [class.show]="isPlay" attr.aria-labelledby="heading{{game.id}}"
       data-parent="#accordion">
    <div class="card-body">
      <!--<button class="btn btn btn-primary" (click)="generateTicket()">
        Generate Ticket
      </button>-->
      <section class="row game">
        <div app-completed-numbers [game]="game" class="col-md-6 col-lg-6"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button id="disableTicker" app-random-number [lastNumber]="game.lastNumber"
                  (click)="onUpdateNumber()"></button>
          <div class="col-md-12 col-sm-8 col-xs-8">
            <div class="card resutls">
              <div class="card-body">
                Ticket
                <table class="chessboard table table-bordered">
                  <tr class="chessboard" *ngFor="let row of finalMatrix; let i = index" [attr.data-index]="i">
                    <td class="chessboard" *ngFor="let number of row"
                        (click)="selectNumber(number, i)">
                      <pre *ngIf="number == 0"></pre>
                      <pre *ngIf="number != 0">{{number}}</pre>
                    </td>
                  </tr>
                </table>
                <!--                <h5 class="card-title">Winners:</h5>-->
                <div>
                  <button (click)="firstRowWinner()">First Row Winner</button>
                </div>
                <div>
                  <button (click)="secondRowWinner()">Second Row Winner</button>
                </div>
                <div>
                  <button (click)="ThirdRowWinner()">Third Row Winner</button>
                </div>
                <div>
                  <button (click)="fullHousieWinner()">Full Housie Winner</button>
                </div>
                <div>
                  <button (click)="fourCornerWinner()">4 Corner Winner</button>
                </div>
                <!--<div>First Five: {{game.firstFive ? (game.firstFive.numbers + " - " + game.firstFive.name) : ""}} </div>
                <div>1st Row: {{game.firstRow ? (game.firstRow.numbers + " - " + game.firstRow.name) : ""}}</div>
                <div>2nd Row: {{game.secondRow ? (game.secondRow.numbers + " - " + game.secondRow.name) : ""}} </div>
                <div>3rd Row: {{game.thirdRow ? (game.thirdRow.numbers + " - " + game.thirdRow.name) : ""}} </div>
                <div>Full House: {{game.fullHouse ? (game.fullHouse.numbers + " - " + game.fullHouse.name) : ""}} </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="card col text-center" *ngIf="isPlay">
          <div class="card-body">
            <h5 class="card-title">Last 5 numbers:</h5>
            {{game.completedNumbers.slice(-5).reverse().join(', ')}}
          </div>
        </div>
      </section>
    </div>

  </div>
</div>
